<h1>Product Listing</h1>

<div id="container">
  <div style="width:750px; margin:0 auto;">

  <style>
      div.float {
          float: left;
          margin: 0 auto;
      }

      div.float p {
          text-align: center;
          margin: 0 auto;
          text-decoration: none;
          color: #000000;
      }
  </style>
  <div class="float"><img src="http://pjb3.github.io/betastore/products/hat.jpg" width="250" alt="Hat" /><br />
    <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/tGueCB">Hat</a></p></div>
  <div class="float"><img src="http://pjb3.github.io/betastore/products/hoodie.jpg" width="250" alt="Hoodie" /><br />
    <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/vnZf8E">Hoodie</a></p></div>
  <div class="float"><img src="http://pjb3.github.io/betastore/products/iphone_case.jpg" width="250" alt="iPhone Case" /><br />
  <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/I2cxuS">iPhone Case</a></p> </div>

  <div style="clear: both"></div>

  <div class="float"><img src="http://pjb3.github.io/betastore/products/journal.jpg" width="250" alt="Journal" /><br />
    <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/wbipqI">Journal</a></p></div>
  <div class="float"><img src="http://pjb3.github.io/betastore/products/shirt.jpg" width="250" alt="Shirt" /><br />
    <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/VDIAoS">Shirt</a></p></div>
  <div class="float"><img src="http://pjb3.github.io/betastore/products/sticker.jpg" width="250" alt="Sticker" /><br />
    <p><a class="box-text" style="text-decoration: none; color: black" href="http://bit.ly/O3nGzX">Sticker</a></p></div>
  </div>
  <div style="clear: both"></div>
</div>

  <% if cookies[:email].present? %>
    <%= link_to "Log Out", log_out_path, method: 'post' %>
  <%else%>
    <%= link_to "Log In", log_in_path, method: 'post' %>

  <%end%>