<h1>Product Listing</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Betastore</title>
  <style type="text/css">
      body p {
          color: #000;
          text-decoration: none;
          background-color: #FFF;
          text-align: center;
          margin: 10px;
          padding: 10px;
          height: auto;
          width: auto;
          list-style-type: square;
          position: relative;
      }
      body,td,th {
          color: #000;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
      }
      body {
          background-color: #FFF;
      }
      a:link {
          color: #000;
          text-decoration: none;
      }
      a:visited {
          text-decoration: none;
      }
      a:hover {
          text-decoration: none;
      }
      a:active {
          text-decoration: none;
      }
  </style></head>

<body bgcolor="#FFFFFF" text="#000000" link="#000000">
<table width="100%" border="0" cellspacing="10" cellpadding="10">
  <tr>
    <td width="278"><p><a href="http://pjb3.github.io/betastore/products/detail/hat.html"><img src="http://pjb3.github.io/betastore/products/hat.jpg" alt="Betamore Hat" width="250" longdesc="http://pjb3.github.io/betastore/products/detail/hat.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/hat.html">Hat</a></p></td>
    <td width="278"><p><a href="http://pjb3.github.io/betastore/products/detail/hoodie.html"><img src="http://pjb3.github.io/betastore/products/hoodie.jpg" alt="Betamore Hoodie" width="250" longdesc="http://pjb3.github.io/betastore/products/detail/hoodie.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/hoodie.html">Hoodie</a></p></td>
    <td width="280"><p> <a href="http://pjb3.github.io/betastore/products/detail/iphone_case.html"><img src="http://pjb3.github.io/betastore/products/iphone_case.jpg" alt="Betamore iPhone Case" width="250" longdesc="http://http://pjb3.github.io/betastore/products/detail/iphone_case.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/iphone_case.html">iPhone Case</a></p></td>
  </tr>
  <tr>
    <td><p><a href="http://pjb3.github.io/betastore/products/detail/journal.html"><img src="http://pjb3.github.io/betastore/products/journal.jpg" alt="Betamore Journal" width="250" longdesc="http://pjb3.github.io/betastore/products/details/journal.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/journal.html">Journal</a></p></td>
    <td><p> <a href="http://pjb3.github.io/betastore/products/detail/shirt.html"><img src="http://pjb3.github.io/betastore/products/shirt.jpg" alt="Betamore T-Shirt" width="250" longdesc="http://pjb3.github.io/betastore/products/details/shirt.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/shirt.html">Shirt</a></p></td>
    <td><p> <a href="http://pjb3.github.io/betastore/products/detail/sticker.html"><img src="http://pjb3.github.io/betastore/products/sticker.jpg" alt="Betamore Sticker" width="250" longdesc="http://pjb3.github.io/betastore/products/details/sticker.html" /></a></p>
      <p><a href="http://pjb3.github.io/betastore/products/detail/sticker.html">Sticker</a></p></td>
  </tr>
</table>
</body>
</html>

<a><%= link_to 'New Product', new_product_path %></a>